{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/static/css/style.css' %}" />
    <title>Home page</title>
  </head>
  <body>
    <h1>Home page</h1>

    <p>Total books: {{ num_book }}</p>
    <p>num auther: {{ num_author }}</p>
    <p>Available books: {{ num_book_instance_available }}</p>
    <p>{{ request.path }}</p>
    {% if request.user.is_authenticated %}
    <p>you are logged in</p>
    <p>welcom : {{ request.user.username|title }}</p>

    <!-- زر إضافة كتاب -->
    <p><a href="{% url 'create_book' %}">create book</a></p>

    <form action="{% url 'create_book' %}" method="get">
      <input type="submit" value="إضافة كتاب" />
    </form>
    <br />
    <!-- زر تسجيل الخروج -->
    <form action="{% url 'logout' %}?next=/accounts/login" method="post">
      {% csrf_token %}
      <input type="submit" value="log out" />
    </form>

    {% else %}
    <p>you are logged out</p>
    <a href="{% url 'login' %}?next={{request.path}}">log in</a>
    <a href="{% url 'register' %}?next=/accounts/login">re gister</a>
    {% endif %}
  </body>
</html>
